{
	"useTabs": true,
	"tabWidth": 3,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 120,
	"bracketSpacing": true,
	"objectWrap": "preserve",
	"plugins": ["prettier-plugin-svelte"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
	"svelteSortOrder": "styles-markup-scripts-options"
}
